<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saem.domain.reply">
	<select id="select_list" resultType="com.saem.domain.ReplyVO">
		SELECT * FROM the_sight_reply WHERE tour_name = #{tour_name}
	</select>
	
	<select id="select_count" resultType="com.saem.domain.TourVO">
		SELECT count(r_num) as div_area_count FROM the_sight_reply WHERE tour_name = #{tour_name}
	</select>
	
	<insert id="insert_reply">
      	INSERT INTO the_sight_reply(m_userid, tour_name, r_content) VALUES(#{m_userid}, #{tour_name}, #{r_content})
   	</insert>
	
	<delete id="delete_reply">
		DELETE FROM the_sight_reply WHERE r_num = #{r_num} and tour_name = #{tour_name}
	</delete>
	
	<update id="update">
		UPDATE the_sight_freeboard SET f_title = #{f_title}, f_content = #{f_content} WHERE f_id = #{f_id}
	</update>
	
	 <update id="uphit">
	 	UPDATE the_sight_freeboard SET f_hit = f_hit + 1 WHERE f_id = #{f_id} 
     </update>
	
</mapper>